{% extends "adminbase.html" %}
{% block title %}adminhome{% endblock %}
{% block content %}
<!-- Vendor -->
<h3 class="mb-3">Pump</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>No.</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.is_vendor %}
            <tr>
                <td></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    {% if user.is_active %}
                        Active
                    {% else %}
                        Blocked
                    {% endif %}
                </td>
                <td>
                    {% if user.is_active %}
                        <a href="{% url 'block_unblock_user' user.id %}" class="btn btn-danger">Block</a>
                    {% else %}
                        <a href="{% url 'block_unblock_user' user.id %}" class="btn btn-success">Unblock</a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let table = document.querySelector("table");
        let rowCount = 1;
        for (let i = 1; i < table.rows.length; i++) {
            table.rows[i].cells[0].innerText = rowCount;
            rowCount++;
        }
    });
</script>
{% endblock content %}
