{% extends "contactBase.html" %}
{% block title %}Pump{% endblock %}
{% block content %}
<!-- Content Container -->
<!-- Your main content here -->
<div class="question">
    <h2>Partner Onboarding</h2>
    <div class="faq">
        <div class="faq-question" onclick="toggleAnswer('faq1');">
            <a href="#faq1">What are the necessary documents required to register my account for fuel delivery? <i class="fas fa-caret-down" style="color:#FA9A50; font-size: 24px;"></i></a>
        </div>
        <div id="faq1" class="faq-answer">
            <p>Commonly required documents include proof of identity, proof of address, and business registration documents. However, specific requirements may vary depending on the fuel delivery service provider.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-question" onclick="toggleAnswer('faq2');">
            <a href="#faq2">How long does the account verification process usually take after submitting all the required documents? <i class="fas fa-caret-down" style="color:#FA9A50; font-size: 24px;"></i></a>
        </div>
        <div id="faq2" class="faq-answer">
            <p>The account verification process typically takes between 1 to 3 business days. However, the exact duration may vary depending on the workload and verification procedures of the fuel delivery service provider.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-question" onclick="toggleAnswer('faq3');">
            <a href="#faq3">Is there any registration fee or one-time onboarding cost for using the fuel delivery service? <i class="fas fa-caret-down" style="color:#FA9A50; font-size: 24px;"></i></a>
        </div>
        <div id="faq3" class="faq-answer">
            <p>Some fuel delivery service providers may charge a one-time onboarding fee or registration fee. It's essential to check with the specific provider for their fee structure and any associated costs.</p>
        </div>
    </div>
</div>
{% endblock content %}
