{% extends "userBase.html" %}
{% block title %}Customer Orders{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="order-section">
            <h2>Orders List</h2>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search for Order ID..." onkeyup="searchOrders()">
            </div>
            <table class="order-table">
                <thead>
                    <tr class="order-table-header">
                        <th>#No</th>
                        <th>Order ID</th>
                        <th>Fuel Station</th>
                        <th>Date & Time</th>
                        <th>Fuel Type</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Rate</th>
                        <th>Receipt</th>
                        <th>Delivery Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in ordered_orders %}
                        <tr class="order-row {% cycle 'odd' 'even' %}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.id }}</td>                          
                            <td>{{ order.station }}</td>
                            <td>{{ order.order_date }}</td>
                            <td>{{ order.fuel_type }}</td>
                            <td>₹{{ order.total_price }}</td>
                            <td>
                                <span class="order-status {% if order.is_accepted %}accepted{% elif order.is_rejected %}rejected{% else %}not-accepted{% endif %}">
                                    {% if order.is_accepted %}
                                    Accepted
                                    {% if order.payment_set.first.is_paid %}
                                        <p>Paid</p>
                                    {% else %}
                                        <form action="{% url 'pay' order.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="order_id" value="{{ order.id }}">
                                            <button type="submit" class="payment-btn">Pay</button>
                                        </form>
                                    {% endif %}
                                {% elif order.is_rejected %}
                                    Rejected
                                {% else %}
                                    Not Accepted
                                {% endif %}
                                
                                </span>
                            </td>
                            <td><a href="{% url 'station_detail' order.station.id %}" class="amazon-rating-btn">Rate</a></td>
                            
                                    
                            <td style="text-align: center; vertical-align: middle;">
                                {% if order.payment_set.first.is_paid %}
                                <a href="{% url 'download_receipt' order.id %}" target="_blank"><i class="fas fa-download"></i></a>
                                
                                {% endif %}
                                
                            </td>
                           
                            <td>
                                {% if order.is_delivered %}
                                <p>Delivered</p>
                                {% else %}
                                <p>Not Yet Delivered</p>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                        <td colspan="2">No Orders available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        

            <div class="pagination">
                <span class="step-links">
                    {% if ordered_orders.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ ordered_orders.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ ordered_orders.number }} of {{ ordered_orders.paginator.num_pages }}.
                    </span>
            
                    {% if ordered_orders.has_next %}
                        <a href="?page={{ ordered_orders.next_page_number }}">next</a>
                        <a href="?page={{ ordered_orders.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

    <style>
        /* Styles for the payment button */
.payment-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  color: #fff;
  background-color: #4CAF50; /* Green color, you can change this */
  border: 1px solid #4CAF50; /* Same as background initially */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.payment-btn:hover {
  background-color: #45a049; /* Darker green on hover */
  border-color: #45a049; /* Darker border on hover */
}

.payment-btn:active {
  transform: translateY(1px); /* Add a slight press-down effect */
}

        /* Styles for the Amazon-like rating button */
.amazon-rating-btn {
  display: inline-block;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  background-color: #f0c14b; /* Amazon's button color */
  border: 1px solid #a88734; /* Amazon's button border color */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.amazon-rating-btn:hover {
  background-color: #ddb347; /* Change color on hover */
}

       .search-container {
        margin-bottom: 20px;
    }

    #searchInput {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: #f8d7da; /* Default background color */
            color: #721c24; /* Default text color */
        }
        .container {
            width: 90%;
            margin: 0 auto;
        }

        .order-section {
            margin-top: 20px;
            
            border-radius: 8px;
            padding: 20px;
            background-color:  #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .order-table {
            width: 100%;
            border-collapse: collapse;
        }

        .order-table-header {
            background-color: #f8f8f8;
            font-weight: bold;
        }

        .order-table th,
        .order-table td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #e0e0e0;
            font-size: 14px;
        }

        .order-table td:first-child {
            width: 5%;
        }

        .order-row:hover {
            background-color: #f0f0f0;
        }

        .order-status {
            padding: 8px 16px;
            border-radius: 4px;
            font-weight: bold;
            display: inline-block;
        }

        .order-status.accepted {
            background-color: #D4EDDA;
            color: #155724;
        }

        .order-status.rejected {
            background-color: #F8D7DA;
            color: #721C24;
        }

        .order-status.not-accepted {
            background-color: #FFF3CD;
            color: #856404;
        }
    </style>
    <script>
        function searchOrders() {
            let input, filter, table, tr, td, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            table = document.querySelector('.order-table');
            tr = table.getElementsByTagName('tr');
    
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName('td')[1]; // Column index where Order ID is located
    
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = 'none';
                    }
                }
            }
        }
    </script>   
    
{% endblock %}
