<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <!-- Add your CSS file if you have one -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> -->
</head>
<body>
    <header>
        <h1>User Profile</h1>
    </header>
    <div class="profile">
        {% if user.is_authenticated %}
            <img src="{{ user_profile.profile_picture.url }}" alt="User's Profile Picture">
            <h2>{{ user.username }}</h2>
            <p>Email: {{ user_profile.user.email }}</p>
            <p>Address: {{ user_profile.address }}</p>
            <p>City: {{ user_profile.city }}</p>
            <p>State: {{ user_profile.state }}</p>
            <p>Pin Code: {{ user_profile.pin_code }}</p>
            <p>Gender: {{ user_profile.gender }}</p>
            <p>Date of Birth: {{ user_profile.dob }}</p>
        {% else %}
            <p>User profile not found.</p>
        {% endif %}
    </div>
</body>
</html>
